    <footer class="global-footer">
      <div class="global-footer-menu">
        <a href="/" class="global-footer-menu-item">top</a>
        <a href="/works.html" class="global-footer-menu-item">works</a>
        <a href="/profile.html" class="global-footer-menu-item">profile</a>
        <a href="/contact.html" class="global-footer-menu-item">contact</a>
      </div>
      <div class="global-footer-copyright">
        <div class="pc">
          Copyright &copy; 2007-2017 Yadex205 All rights reserved.
        </div>
        <div class="smartphone">
          &copy; 2017 Yadex205
        </div>
      </div>
    </footer>
  </body>
</html>
