<!doctype html>
<html lang="ja">
  <head>
    <%- include('./_meta') %>
    <title><%= title || 'Yadex205' %></title>
  </head>
  <body>
    <header class="global-header">
      <div class="global-header-content">
        <ul class="global-header-menu">
          <li class="global-header-menu-item"><a href="/works.html">works</a></li>
          <li class="global-header-menu-item"><a href="/profile.html">profile</a></li>
          <li class="global-header-menu-item"><a href="/contact.html">contact</a></li>
        </ul>
        <div class="global-header-logo-wrapper">
          <a href="/">
            <img alt="logo" src="/image/logo.png" class="global-header-logo"/>
          </a>
        </div>
      </div>
    </header>
