<!doctype html>
<html lang="ja">
  <head>
    <%- include('./_meta') %>
    <title><%= title || 'Yadex205' %></title>
  </head>
  <body>
    <header class="global-header">
      <ul class="global-menu">
        <li><a href="/"><img alt="logo" src="/image/logo.png" class="global-menu-logo" /></li></a>
        <li><a href="/works.html">works</a></li>
        <li><a href="/profile.html">profile</a></li>
        <li><a href="/contact.html">contact</a></li>
      </ul>
    </header>
