<%- include('./_header', { title: 'Yadex205 - contact' }) %>
<section class="content">
  <h1>contact</h1>
  <article>
    <p>
      VJの出演などのご連絡は、以下の連絡先をご利用ください。
    </p>
    <p>
      なお現在はウェブページ及び動画の制作依頼は受け付けておりません。
    </p>
  </article>

  <h2>e-mail</h2>
  <article>
    <p>
      yadex205@outlook.jp
    </p>
  </article>

  <h2>twitter</h2>
  <article>
    <p>
      @yadex205_vj
    </p>
  </article>

</section>
<%- include('./_footer') %>
