<%- include('./_header', { title: 'Yadex205 - contact' }) %>

<header class="section-header">
  <div class="section-header-image" style="background-image: url('/image/strap-works.jpg')"></div>
  <div class="section-header-title">contact</div>
</header>

<section class="text-content-section">
  <p>
    VJ出演などに関するご連絡は、以下の連絡先をご利用ください。
    なお、現在はウェブページ及び動画の作成依頼は受け付けておりません。
  </p>

  <h2>e-mail</h2>
  <code>
yadex205@outlook.jp
  </code>

  <h2>twitter</h2>
  <code>
    <a href="https://twitter.com/yadex205_vj">@yadez205_vj</a>
  </code>
  <p>
    別ウィンドウで開きます。
  </p>
</section>

<%- include('./_footer') %>
