<%- include('./_header', { title: 'Yadex205 - top', css: 'index' }) %>
<div class="index-page-top-cover">
  <div class="index-page-top-cover-description">
    Powered by Blender 2.78a + Octane VR 3.05
  </div>
</div>
<%- include('./_footer') %>
