<%- include('./_header', { title: 'Yadex205 - top' }) %>
<div class="top-cover">
  <span class="description">
    Powered by Blender 2.78a + Octane VR 3.05
  </span>
</div>
<%- include('./_footer') %>
