<%- include('./_header', { title: 'Yadex205 - contact' }) %>

<header class="section-header">
  <div class="section-header-image" style="background-image: url('/image/strap-works.jpg');"></div>
  <div class="section-header-title">works</div>
</header>

<section class="text-content-section">
  <h2>websites</h2>
  <h3>れーみ official website</h3>
  <code>
    <a href="http://remi-star.com" target="_blank">http://remi-star.com</a>
  </code>

  <p>
    (別ウィンドウで開きます)
  </p>
  <p>
    シンガーソングライターである「れーみ」氏のウェブサイトを担当しました。
  </p>
  <p>
    2015年6月に最初のバージョンを Jekyll を用いて1週間ほどかけて制作し、
    更新頻度の高さとGithub Pages での運用を両立しました。
  </p>
  <p>
    しかし、gitによる更新は手間がかかることから更新が停滞したため、
    2016年12月にリニューアルを兼ねて Jekyll から WordPress に移行し、
    現在も更新を続けています。
  </p>

  <h3>ジャミューズ合同誌「テイレシアスの悪戯」告知サイト</h3>
  <code>
    <a href="http://www.yadex205.info/jamuseweb" target="_blank">http://www.yadex205.info/jamuseweb</a>
  </code>
  <p>
    (別ウィンドウで開きます)
  </p>
  <p>
    「白線」氏と「冬日あおい」氏が主催された合同誌「テイレシアスの悪戯」の告知サイトを担当しました。
    また、表紙デザインも担当させていただきました。
  </p>

  <h2>videos</h2>
  <code>
    <a href="https://vimeo.com/yadex205" target="_blank">https://vimeo.com/yadex205</a>
  </code>
  <p>
    (別ウィンドウで開きます)
  </p>
</section>


<%- include('./_footer') %>
