@import 'reset';
@import 'header';
@import 'footer';
@import 'section_header';
@import 'text_content';

body {
  color: #333;
  font-family: 'YuMincho', 'Yu Mincho', 'ヒラギノ明朝 ProN W3', serif, inherit;
}

article {
  max-width: 720px;
  margin: 0 auto;
}

code {
  display: block;
  font-family: Inconsolata, monospace;
  background-color: #eee;
  border-radius: 12px;
  font-size: 20px;
  padding: 12px 18px;
}

.content {
  padding: 96px 48px;

  h1.strap {
    position: relative;
    height: 240px;
    text-align: center;
    line-height: 200px;
    font-size: 32px;

    .strap-bg {
      position: absolute;
      left: -48px;
      right: -48px;
      top: -24px;
      right: 0;
      height: 240px;
      width: calc(100% + 96px);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: right;
      z-index: -1;
    }
  }

  h1:before {
    content: '== ';
  }

  h1:after {
    content: ' ==';
  }

  h2:before {
    content: '-- ';
  }

  h2:after {
    content: ' --';
  }

  h1, h2, h3 {
    margin-top: 48px;
  }

  h3, h4, h5, h6 {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid lightgray;
    padding: 12px 0;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Patua One', YuMincho, 'Yu Mincho', inherit;
    text-align: center;
  }
}
